
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section>
        <h2>Blanka</h2>
        <img class="imagem" src="~/Content/Imagens/Blanka.png" alt="Blanka"/>
        @*<img class="imagem" src="https://files.slack.com/files-pri/T0Y3PJ2F2-F141RBZHC/20120823194105_127.png" alt="Blanka">*@
    </section>
    <section>
        <p>
            <span>Primeira aparição:</span> Street Fighter II The World Warrior (1991) <br>
            <span>Altura:</span> 192cm. <br>
            <span>Nascimento:</span> 12 de fevereiro de 1966. <br>
            <span>Peso:</span> 96kg. <br>
            <span>Medidas:</span> B198, C120, Q172. <br>
            <span>Tipo Sanguineo:</span> B.<br>
            <span>Habilidades especiais:</span> Caçar, Eletricidade. <br>
            <span>Gosta:</span> Frutas tropicais, Pirarucu, Sua mãe. <br>
            <span>Desgosta:</span> Army ants (espécie de formiga). <br>
            <span>Estilo de luta:</span> Luta Selvagem autodidata (Army Ants) / Capoeira. <br>
            <span>Origem:</span> Brasil (lugar de nascença é provável como sendo Tailândia). <br>
            <span>Uma fala de vitória:</span> "Ver você em ação é uma piada!" <br>
            <span>SSF2 nickname:</span> "A selvagem criança da natureza". <br>
            <span>SFA3 nickname:</span> "A animal pessoa amazônica". <br>
            <span>SFA nickname:</span> "Guerreiro da selva". <br>
            <span>SFA3 stage:</span> Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira:
            talvez possa ser Mato Grosso, ou Tocantins?). <br>
            <span>SF2 stage:</span> Bacia do rio Amazonas (Brasil).<br>
            <span>Golpes especiais famosos:</span> Electric Thunder, Rolling Attack.<br>
        </p>
    </section>

