<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title>Pagina Marota</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    </head>
    <body> 
        <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
        
        <div layout:fragment="content">
            <h1 th:text="#{pessoa.form}" class="page-header"></h1>

            <div id="form-pessoa">
                <div th:include="form-pessoa"></div>
            </div>

            <div id="tabela-pessoa">
                <div th:include="tabela-pessoa"></div>
            </div>    
        </div>
        
    </body>
</html>
