    body {
        /*background-image: url(https://i.imgur.com/iTchBTO.jpg);*/
        background-image: url('../Imagens/SF-Background.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
     .container{
        width: 880px;
        margin: 345px auto;
        margin-bottom: 0;
    }

     .container > nav:first-of-type {
        border: 1px white solid;
        width: 620px;
        margin: 0 auto;
        margin-bottom: 80px;
        background-color: rgba(170, 168, 168, 0.7);
        border-radius: 8px;
        padding: 15px 30px;
    }
    
    article {
        background-color: #ECECEC;
        min-height: 700px;
    }
    
    article > header {
        color: white;
        background-color: #515151;
        height: 80px;
    }
    
    header > h2{
        color: #bfbfbf;
        padding: 25px 20px;
    }

    article > section:first-of-type {
        padding: 20px;
    }
    
    .botao{
        padding: 0px 7.0%;
    }
    
    .link{
        text-decoration: initial;
        color: white
    }
    
    .imagem{
         float:left; 
         padding-right: 20px
    }
        
    #imagem-vinicius{
        width: 260px; 
        height: 260px;
    }
    
    span{
        font-weight: bold;
    }
    
    
     