
@{
    ViewBag.Title = "Exercicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TODO: alterar nome para ficar de acordo com exercicio*@
<h3>Exercício 1</h3>
<div id="album-cover">
</div>

@section scripts{
    <script src="~/scripts/Custom/donzela.js"></script>
}

