
@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-corpo container-cadastro">
    <h3>Nossos ninjas preveram seus movimentos!</h3>
    <h4>@ViewBag.ErroIDPedido</h4>
</div>