body {
    background-color: #E7E8DA;
}

.navbar {
    margin-bottom: 0 !important;
}

.navheader {
    z-index: 2;
}

#nav-container {
    width: auto;
}

#icon-nav {
    font-size: 16px;
}

.logout-drop {
    text-align: center;
}

#form-procura-pedido {
    color: #9D9D9D;
    margin: 12px;
}

#botao-buscar {
    border: 1px solid transparent;
    border-radius: 2px;
    color: black;
}

.container-corpo {
    margin-top: 80px;
    box-shadow: 2px 2px 10px #888888;
    background-color: rgba(255, 255, 255, 0.79);
    border: 1px transparent solid;
}

.container-listagem {
    width: auto;
    padding-bottom: 20px;
}

.tabela-listagem {
    height: 700px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

.container-cadastro {
    border-radius: 10px;
    padding-right: 50px;
}

.container-detalhes {
    border-radius: 5px;
}

.subtitulo {
    font-weight: bold;
}

.urgencia {
    color: red;
}

#camelao-div-bottom {
    position: absolute;
    bottom: 0px;
    left: -301px;
}

#camelao-img {
    width: 300px;
}
